<div class="row">
    <div class="col-sm-4">
        <h3>My Dashboard</h3>
    </div>

    <div class="col-sm-8">
        <div class="float-right">
                <button class="btn btn-link">
                        Personal Information
                    </button>
            
                    |
            
                    <button class="btn btn-link">
                        Exam History
                    </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-4">
        <ngb-toast>
            <ng-template ngbToastHeader>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path
                        d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z" />
                </svg>
                <strong class="mx-1">Fee Alert</strong>
            </ng-template>
            Please pay remaining fees before 31 <sup>st</sup> Aug, 2020.

            <div>
                Fees Paid : 7000, Remaining : 5000 Total : 12,000
            </div>

        </ngb-toast>

    </div>

    <div class="col-sm-4">
        <ngb-toast>
            <ng-template ngbToastHeader>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path
                        d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z" />
                </svg>
                <strong class="mx-1">Upcoming Exams</strong>
            </ng-template>

            <p>Open book test on "Human Reproduction System" is on 24<sup>th</sup> September, 2020</p>

        </ngb-toast>

    </div>



    <div class="col-sm-4">
        <ngb-toast>
            <ng-template ngbToastHeader>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path
                        d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z" />
                </svg>
                <strong class="mx-1">Need Improvement</strong>
            </ng-template>

            <p>Considering your past exam result we recommand you to brush up with the following chapters.</p>
            <a href="#">View Details</a>

        </ngb-toast>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
            <div class="border border-primary square">Graphical Representation Of my Performance</div>
            <div class="border border-success square"> Query Portal</div>
            <div class="border border-danger square">Need Strong Improvement</div>
            <!-- <span class="border border-warning"></span>
            <span class="border border-info"></span>
            <span class="border border-light"></span>
            <span class="border border-dark"></span>
            <span class="border border-white"></span> -->
    </div>
</div>