
<div class="row first-row">
  <div class="col-sm-4">
    <h6 class="page-heading">Welcome Amit !</h6>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <h2>Test Instructions</h2>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="text-center">
      <h5>Dos</h5>
    </div>
    <ul class="fa-ul instructions">
      <li><i class="fa-li fa fa-check"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s</li>
      <li><i class="fa-li fa fa-check"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </li>
      <li><i class="fa-li fa fa-check"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </li>
      <li><i class="fa-li fa fa-check"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </li>
    </ul>
  </div>

  <div class="col-sm-6">
    <div class="text-center">
      <h5>Dont's</h5>
    </div>
    <ul class="fa-ul instructions">
      <li><i class="fa-li fa fa-times"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s</li>
      <li><i class="fa-li fa fa-times"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </li>
      <li><i class="fa-li fa fa-times"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </li>
      <li><i class="fa-li fa fa-times"></i>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </li>
    </ul>
  </div>
</div>
