<div class="row">
  <div class="col-sm-12">
    <div class="float-left">
      <b>Amit Debadwar</b>
    </div>
    <div class="float-right">
      Total Time : 30:00
    </div>
  </div>
</div>


<div class="row mt-3" *ngIf="false">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Question 1
        <div class="float-right"> 3:00</div>
      </div>
      <div class="card-body">

        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s?</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4" *ngIf="false">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Options

      </div>


      <div class="card-body">

        <div class="row">
          <div class="col-sm-6">
            <div class="options">
              a) Lorem Ipsum is simply dummy text of the printing
            </div>
          </div>

          <div class="col-sm-6">
            <div class="options">
              b) Lorem Ipsum is simply dummy text of the printing
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="options selected">
              c) Lorem Ipsum is simply dummy text of the printing
            </div>
          </div>

          <div class="col-sm-6">
            <div class="options">
              d) Lorem Ipsum is simply dummy text of the printing
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="false">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <span class="float-left">You have selected option <b>C</b></span>
        <button class="btn btn-primary float-right">Next Question <i class="fas fa-arrow-right"></i> </button>

      </div>
    </div>
  </div>
</div>



<div class="row mt-5">
  <div class="col-sm-12">



    <div>
      <svg height="520" width="600">
        <defs>

          <style>
            .c {
              fill: blue;
              -webkit-animation-name: example;
              /* Safari 4.0 - 8.0 */
              -webkit-animation-duration: 4s;
              /* Safari 4.0 - 8.0 */
              animation-name: example;
              animation-duration: 4s;
            }


            /* Safari 4.0 - 8.0 */
            @-webkit-keyframes example {
              from {
                fill: red;
              }

              to {
                fill: yellow;
              }
            }

            /* Standard syntax */
            @keyframes example {
              from {
                fill: red;
              }

              to {
                fill: yellow;
              }
            }




            .question {
              animation-duration: 3s;
              animation-delay: 2s;
              animation-iteration-count: infinite;
              animation-name: heartbeat;
            }
          </style>
        </defs>


        <image
          xlink:href="https://assets.aboutkidshealth.ca/akhassets/Female_reproductive_adult_MED_ILL_EN.jpg?RenditionID=19"
          width="50%" height="50%" x="0" y="0" />
        <g id="UrTavla">

          <line x1="200" y1="200" x2="500" y2="230" style="stroke:rgb(255,0,0);stroke-width:2" />
          Sorry, your browser does not support inline SVG.
          <circle cx="500" cy="230" r="20" stroke="black" stroke-width="1" fill="#fff" *ngIf="false"></circle>
          <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" dy=".3em">A</text>
          <text *ngIf="false" class="animated 8 shake delay-2s" x="350" y="250" fill="green">What is the name of this
            organ ?</text>
        </g>
      </svg>
    </div>


  </div>
</div>